@font-face {
    font-family: Digital;
    src:url("../fonts/digital-7.ttf");
}

html {
    background-color: #F6F6F6;
    background-image: url(../image/questionsbg.jpg);
    background-repeat: repeat;
    background-size: 100%;
    height: 100%;
    margin: 0px;
}

body{
    height: 100%;
    margin: 0 15%;
    background-color: #F6F6F6;
    position: relative;
}

.winEffect {
    margin-top: 25%;
    margin-bottom: 10%;
    background-color: F6F6F6;
    color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0044FF, 0 0 20px #0044FF, 0 0 30px #0088FF, 0 0 40px #0088FF, 0 0 50px #00AAFF, 0 0 75px #00AAFF;
	letter-spacing: 5px;
	font: 80px 'MisoRegular';
}

.loseEffect {
    margin-top: 25%;
    margin-bottom: 10%;
    background-color: F6F6F6;
    color: #fff;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #FF0000, 0 0 20px #FF1100, 0 0 30px #FF2200, 0 0 40px #FF3300, 0 0 50px #FF4400, 0 0 75px #FF5500;
	letter-spacing: 5px;
	font: 80px 'MisoRegular';
}

.mainBody {
    height: 100%;
}

#titleCage {
    margin-top: 20px;
    padding: 20px;
    width: 90%;
}

.custom-title {
    background-image: url(../image/triviatitle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
}

#bodyCage {
    height: 100%;
    padding: 20px;
}

.jumbotron{
    background-color: #F6F6F6;
}

.custom-timer h1 {
    color: red;
    font-family: Digital;
    font-size: 60px;
    padding: 5px;
}

#questions-line{
    background-color: rgb(192, 199, 223);
    margin: 10px;
    padding: 10px;
}

button {
    margin: 1px;
    padding: 5px;
}

.answer-buttons{
    margin: 5px;
}

.custom-jumbo {
    padding: 20px;
}

#resultsScreen{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    justify-content: end;
}

.custom-wrap{
    background-color:transparent;
    z-index: -9999;
    visibility: hidden;
}

.resultOn {
    animation-name: resultScreenIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.resultOff {
    animation-name: resultScreenOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes resultScreenIn {
    0% {
        background-color:transparent;
        z-index: -9999;
        visibility: hidden;
    }
    100% {
        background-color: #F6F6F6;
        z-index: 9999;
        visibility: visible;
    }
}

@keyframes resultScreenOut {
    100% {
        background-color:transparent;
        z-index: -9999;
        visibility: hidden;
    }
    0% {
        background-color: #F6F6F6;
        z-index: 9999;
        visibility: visible;
    }
}