@font-face {
    font-family: Digital;
    src:url("../fonts/digital-7.ttf");
}

html {
    background-color: #F6F6F6;
    background-image: url(../image/questionsbg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    margin: 0px;
}

body{
    height: 100%;
    margin: 0 15%;
    background-color: #F6F6F6;
    
}

.mainBody {
    height: 100%;
}

#titleCage {
    padding: 20px;
    width: 90%;
}

.custom-title {
    background-image: url(../image/triviatitle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    
}

#bodyCage {
    height: 100%;
    padding: 20px;
}

.jumbotron{
    background-color: #F6F6F6;
}

.custom-timer h1 {
    color: red;
    font-family: Digital;
    font-size: 60px;
    /* margin: 0; */
    padding: 5px;
}

#questions-line{
    background-color: gray;
    margin: 20px;
}

button {
    margin: 1px;
    padding: 10px;
}

.answer-buttons{
    margin: 10px;
}